#plotting and media files
environment_decision_heatmaps/
heatmaps/
media/
B_ses1/
heatmaps_png/
heatmap_videos/
Gulli/

# Ignore backup and temp files
.ipynb_checkpoints/
.DS_Store

# Ignore Python bytecode
__pycache__/
*.py[cod]